<div md-theme="default" layout="row" layout-align="center center">
  <div flex="20"></div>

  <md-content class="container" layout-padding layout-align="center center" flex="60">
    <div ng-show="x"></div> <!-- chart area -->
      <div class="md-display-2" id="results">
        Results For:
      </div>
      <div class="md-headline url">{{monitorCtrl.searchURL}}</div>

    <md-input-container class="md-block">
      <input required type="text"  placeholder="Enter URL" ng-model="monitorCtrl.searchURL" />
    </md-input-container>
    <md-button class="md-primary" ng-click="x" layout layout-align="center center">Monitor</md-button>
  </md-content>

  <div flex="20"></div>
</div>
